a {
  color: rgb(163, 162, 162)!important;
}

a:hover {
  text-decoration: none!important;
  color: rgb(3, 158, 247)!important;
}

.welcome {
  margin-top: 15vh;
  text-align: center;
}

#strike-out {
  text-decoration-line: line-through;
  text-decoration-color: red;
}

#navbar {
  width: 100%;
}

#navbar ul {
  display: flex;
  padding: 0;
  margin-right: 2%;
  justify-content: flex-end;
}

#navbar ul li {
  display: flex;
  margin: 1%;
  color: white;
}

.header{
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3%;
}

#title {
  text-align: center;
}

#title-vanish {
  transition: ease-out 0.8s;
}
#title-vanish:hover {
  color:transparent;
}

#img-smoke {
  height: 40px;
}

.app-container {
  width: 50%;
  margin: auto;
}

#app {
  width: 50%;
  margin: auto;
  font-size: 18px;
}

.about {
  margin-top: 15vh;
  text-align: center;
  white-space: pre-wrap;
  width: 50%;
  font-size: 1.5em;
  margin: auto;
}

.edtr-enter {
  opacity: 0.01;
  width: 0px;
}

.edtr-enter.edtr-enter-active {
  opacity: 1;
  width: 100px;
  transition: ease-in-out 0.7s;
}

.edtr-leave {
  opacity: 1;
  width: 100px;
}

.edtr-leave.edtr-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 0.7s;
}

.ck-toolbar {
  display: none;
}

#typed-content {
  display: block;
  margin-top: 5%;
  padding: 3%;
  font-size: 20px;
  box-sizing: border-box;
}

#typed-content #content {
  color: rgb(182, 174, 174);
  text-align: center;
  white-space: pre-wrap;
  width: 50%;
  margin: auto;
}

.buttons {
  align-content: center;
  margin: auto;
  width: 50%;
}

.btn-block {
  margin: auto;
  color:rgb(255, 255, 255);
  background: rgb(136, 136, 136);
  transition: 0.7s;
}

.btn-block:hover {
  margin: auto;
  color:rgb(255, 255, 255)!important;
  background: rgb(18, 61, 126);
}
